<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tab&amp;Navi隐藏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIWebView拍照和跳转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cell4Row回调次数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>temp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>textField回调不调用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>在tableView的header上加入手势.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>大众AutoLayout题目.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>奇怪的PriceBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>测试界面.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>筛选背景透明.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>781792291CBF3F910021FBA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78384F1F1CB7B197003DE7C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7882B04D1B0CA4BB00C95B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7882B0691B0CA4BC00C95B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>789197FC1D112F03000A2989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B0F4321CB62E9300573760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EDC1221CD08B44000E1236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EDC13C1CD091EA000E1236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EDC1521CD091FF000E1236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F375AE1CBC9554001AFBA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F893BF1D1B834C00A6E425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78FD27341D0FDA50002A5A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
